# Marvellous Comics: mirror of society?
Superheroes and villains in comics can have a real impact on society. They’re supposed to represent what’s good and bad. Thus, the way the character is portrayed will have an influence on the reader. If for example all villains are part of the same minority, people will unconsciously see them in real life as bad people. Moreover, a character like Tony Stark could inspire people to study engineering. And these are just examples to illustrate the power comics can have on us.
We can thus study this choice of characters, how diverse it is, and if there is a tendency towards a specific portrait for superheroes and villains.

In [1]:
# Import libraries
import plotly.graph_objects as go
import pandas as pd
import numpy as np
%matplotlib inline
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import chart_studio.plotly as py
import math
import re
import string
import pickle

In [2]:
demonyms = pd.read_csv('demonyms.csv',names=["Citizenship","Country"])
demonyms.loc[demonyms['Citizenship']=="Soviet", 'Country']= 'Russian Federation'
demonyms.loc[demonyms['Citizenship']=="Russian", 'Country']= 'Russian Federation'
demonyms

       Citizenship   Country
0     Aalborgenser   Aalborg
1       Aberdonian  Aberdeen
2           Abkhaz  Abkhazia
3        Abkhazian  Abkhazia
4         Abrenian      Abra
...            ...       ...
2139    Zimbabwean  Zimbabwe
2140       Zintani    Zintan
2141          Zulu  Zululand
2142      Zuricher    Zurich
2143     Ecuadoran   Ecuador

[2144 rows x 2 columns]

In [3]:
iso = pd.read_csv('https://github.com/Dinuks/country-nationality-list/raw/master/countries.csv')
iso = iso[["alpha_3_code", "nationality", "en_short_name"]]
iso.columns = ["iso3", "Citizenship", "Country"]
iso = iso.merge(demonyms, how="outer", on="Country")
iso

     iso3    Citizenship_x         Country    Citizenship_y
0     AFG           Afghan     Afghanistan           Afghan
1     ALA     Åland Island   Åland Islands     Åland Island
2     ALB         Albanian         Albania         Albanian
3     DZA         Algerian         Algeria         Algerian
4     ASM  American Samoan  American Samoa  American Samoan
...   ...              ...             ...              ...
2184  NaN              NaN          Zamora         Zamorano
2185  NaN              NaN          Zamora        Zamorense
2186  NaN              NaN          Zintan          Zintani
2187  NaN              NaN        Zululand             Zulu
2188  NaN              NaN          Zurich         Zuricher

[2189 rows x 4 columns]

In [4]:
iso.Citizenship_y.fillna(iso.Citizenship_x, inplace=True)
iso =iso.dropna()
iso = iso[["iso3", "Citizenship_y"]]
iso.columns = ["iso3", "Citizenship"]
iso

    iso3      Citizenship
0    AFG           Afghan
1    ALA     Åland Island
2    ALB         Albanian
3    DZA         Algerian
4    ASM  American Samoan
..   ...              ...
356  ESH        Sahrawian
357  YEM           Yemeni
358  YEM         Yemenite
359  ZMB          Zambian
360  ZWE       Zimbabwean

[361 rows x 2 columns]

In [5]:
marvel_pers = pd.read_pickle("marvel_pers_final.txt")
marvel_pers['Citizenship'] = marvel_pers['Citizenship'].str.split(',')
marvel_pers = marvel_pers.explode("Citizenship")
marvel_pers['Citizenship'] = marvel_pers['Citizenship'].str.replace(' ','')
marvel_pers.loc[marvel_pers['Citizenship']=="", 'Citizenship'] = 'Unknown'
marvel_pers["Citizenship"].value_counts().head(60)

American           11283
Unknown             8242
British              799
German               488
Canadian             344
Russian              264
Japanese             249
SkrullEmpire         247
Attilan              209
Chinese              201
Asgardian            199
Shi'arEmpire         189
KreeEmpire           176
Atlantean            169
French               144
Wakandan             144
Krakoan              123
Greek                 84
Olympian              75
Italian               71
Hell                  68
Japan                 64
Indian                59
Mexican               57
SavageLander          56
DeviantLemuria        55
Egyptian              52
Irish                 49
Asgard                48
Heaven                47
NewAttilan            47
Genoshan              46
Latverian             46
Soviet                46
Jotunheim             45
NewMen                44
Galadorian            42
Spanish               41
Australian            39
Svarga                36
Turanian              33
Wakanda               30
Polish                29
K'un-Lun              29
Svartalfheim          28
Celestial             27
Swiss                 26
Neo                   25
Olympia               25
Nowhere               25
Heliopolis            24
Sakaaran              24
Vietnamese            23
SouthAfrican          23
Nidavellir            23
RigellianEmpire       23
Watchers              22
Argive                22
Cuban                 22
Axi-Tun               22
Name: Citizenship, dtype: int64

In [6]:
marvel_pers = marvel_pers.merge(iso, on="Citizenship")
count_map_marvel = marvel_pers.groupby('iso3').count()
count_map_marvel = count_map_marvel['URL']
count_map_marvel

iso3
AFG     1
ARG     4
ARM     1
AUS    39
AUT    19
       ..
VAT     3
VEN     3
VNM    23
WSM     1
ZMB     1
Name: URL, Length: 91, dtype: int64

In [7]:
count_map_marvel = count_map_marvel.to_frame()
count_map_marvel['locations'] = count_map_marvel.index
count_map_marvel.columns = ['z', "locations"]
count_map_marvel

       z locations
iso3
AFG    1       AFG
ARG    4       ARG
ARM    1       ARM
AUS   39       AUS
AUT   19       AUT
...   ..       ...
VAT    3       VAT
VEN    3       VEN
VNM   23       VNM
WSM    1       WSM
ZMB    1       ZMB

[91 rows x 2 columns]

In [8]:
dc_pers = pd.read_pickle("dc_pers_final.txt")
dc_pers['Citizenship'] = dc_pers['Citizenship'].str.split(',')
dc_pers = dc_pers.explode("Citizenship")
dc_pers['Citizenship'] = dc_pers['Citizenship'].str.replace(' ','')
dc_pers.loc[dc_pers['Citizenship']=="", 'Citizenship'] = 'Unknown'
dc_pers["Citizenship"].value_counts().head(60)

American                11109
Unknown                  7542
British                   477
Amazon                    306
UnitedPlanetsCitizen      285
Apokoliptian              234
German                    234
Atlantean                 219
Japanese                  166
Russian                   152
Chinese                   129
French                    124
Genesisian                 90
Greek                      76
Egyptian                   72
Hellion                    49
Australian                 48
Kandorian                  47
Indian                     36
Italian                    36
Mexican                    33
Canadian                   31
Brazilian                  30
Irish                      30
Markovian                  25
SantaPriscan               23
Argentinian                21
Roman                      20
Austrian                   20
Oan                        20
Zambesian                  17
Spanish                    17
Israeli                    17
Norwegian                  16
SouthAfrican               15
Asgardian                  15
Polish                     15
Skartarian                 14
Vietnamese                 13
Romanian                   13
GorillaCityCitizen         12
Scottish                   12
WildLander                 12
Vlatavan                   11
Quraci                     10
Bialyan                     9
Swedish                     9
Hungarian                   9
Congolese                   8
Dutch                       8
Iranian                     7
Zandian                     6
Kaznian                     6
NorthKorean                 6
Peruvian                    6
Xebelian                    6
Morlaidhan                  6
Olympian                    5
NewZealander                5
Cambodian                   5
Name: Citizenship, dtype: int64

In [9]:
dc_pers = dc_pers.merge(iso, on="Citizenship")
count_map_dc = dc_pers.groupby('iso3').count()
count_map_dc = count_map_dc['URL']
count_map_dc

iso3
ARG       21
ARM        1
AUS       48
AUT       20
BEL        1
       ...
UMI    11109
USA    11109
VEN        4
VNM       13
YEM        1
Name: URL, Length: 69, dtype: int64

In [10]:
count_map_dc = count_map_dc.to_frame()
count_map_dc['locations'] = count_map_dc.index
count_map_dc.columns = ['z', "locations"]
count_map_dc

          z locations
iso3
ARG      21       ARG
ARM       1       ARM
AUS      48       AUS
AUT      20       AUT
BEL       1       BEL
...     ...       ...
UMI   11109       UMI
USA   11109       USA
VEN       4       VEN
VNM      13       VNM
YEM       1       YEM

[69 rows x 2 columns]

In [11]:
vals = [0, 10, 100, 250, 1000, 12000]
colors = ['#ffffcc', '#C2F79E', '#78DE7B', '#31a354', '#003C20']

In [12]:
def make_choropleth(i, val_range):
    color = colors[i]
    if i != 4:
        return dict(
            type='choropleth',
            locationmode='ISO-3',
            locations=[],
            z=[],
            colorscale=[[0, color], [1, color]],
            zmin=val_range[0],
            zmax=val_range[1],
            colorbar=dict(
                x=0.99,
                y=i/float(N) + 0.2,
                len=1/float(N)- 0.02,
                tick0=val_range[0],
                dtick=val_range[1]-val_range[0],
            )
         )
    else:
        return dict(
        type='choropleth',
        locationmode='ISO-3',
        locations=[],
        z=[],
        colorscale=[[0, color], [1, color]],
        zmin=val_range[0],
        zmax=val_range[1],
        colorbar=dict(
            x=0.99,
            y=i/float(N) + 0.2,
            len=1/float(N) + 0.04,
            tick0=val_range[0],
            dtick=val_range[1]-val_range[0],
            title = 'Number of Characters'
        )
        )

In [13]:
############# Marvel layout ################
layout_marvel= go.Layout(
    title = go.layout.Title(
        text = 'Number of Characters in Marvel'
    ),
    geo = go.layout.Geo(
        showframe = False,
        showcoastlines = False,
        showocean= True, 
        oceancolor= "rgb(99,00,00)",
        projection = go.layout.geo.Projection(
            type = 'equirectangular' 
        )
    ),
    font = dict(family='Komika Hand, courant', size=18, color='#7f7f7f'),
)
#############Marvel geo ################
geo_marvel = go.layout.Geo(
        showframe = False,
        showcoastlines = False,
        showocean= True, 
        oceancolor= "rgb(99,00,00)",
        projection = go.layout.geo.Projection(
            type = 'equirectangular' 
        )
    )
############# DC geo ################
geo_dc = go.layout.Geo(
        showframe = False,
        showcoastlines = False,
        showocean= True, 
        oceancolor= "rgb(15,76,129)",
        projection = go.layout.geo.Projection(
            type = 'equirectangular' 
        )
    )

In [16]:
import chart_studio
chart_studio.tools.set_credentials_file(username='Ahko26', api_key='VBmVVv93RzXI5FVJdRj8')

In [17]:
trace = count_map_marvel
N = len(vals)
data = []
for i in range(N-1):
    val_range = [vals[i], vals[i+1]]
    
    trace_new = make_choropleth(i, val_range)
    
    for loc, z in zip(trace['locations'], trace['z']):
        if val_range[0] <= z < val_range[1]:
            trace_new['locations'].append(loc)
            trace_new['z'].append(z)
       
    data.append(trace_new)
    


########### DC#############
trace = count_map_dc
N = len(vals)
for i in range(N-1):
    val_range = [vals[i], vals[i+1]]
    
    trace_new = make_choropleth(i, val_range)
    
    for loc, z in zip(trace['locations'], trace['z']):
        if val_range[0] <= z < val_range[1]:
            trace_new['locations'].append(loc)
            trace_new['z'].append(z)
    if(i == 3):
        print(trace_new)     
    data.append(trace_new)
    
fig = go.Figure(
    data=data,
    layout=layout_marvel
)

visible_marvel= [True]*5 + [False]*5
visible_dc = [False]*5 + [True]*5 
fig.update_layout(
    updatemenus=[
        #category button
        go.layout.Updatemenu(
            active=0,
            pad={"r": 10, "t": 10},
            x=-0.22,
            y=1.1,
            xanchor='left',
            yanchor='top',
            buttons=list([
                dict(label="Marvel",
                     method="update",
                     args=[{"visible": visible_marvel},
                           {"title":'Number of Characters in Marvel',
                               "geo": geo_marvel}]),
                dict(label="DC",
                     method="update",
                     args=[{"visible": visible_dc},
                          {"title":'Number of Characters in DC',
                           "geo": geo_dc}])
            ]),
        )
    ])
py.plot(fig, filename='testmap.html', auto_open=False)

{'type': 'choropleth', 'locationmode': 'ISO-3', 'locations': [], 'z': [], 'colorscale': [[0, '#31a354'], [1, '#31a354']], 'zmin': 250, 'zmax': 1000, 'colorbar': {'x': 0.99, 'y': 0.7, 'len': 0.14666666666666667, 'tick0': 250, 'dtick': 750}}

'https://plot.ly/~Ahko26/1/'

In [18]:
data

[{'type': 'choropleth',
  'locationmode': 'ISO-3',
  'locations': ['AFG',
   'ARG',
   'ARM',
   'BEL',
   'BGD',
   'BGR',
   'BHS',
   'BLZ',
   'CHL',
   'CIV',
   'COD',
   'COG',
   'CYP',
   'CZE',
   'DMA',
   'DNK',
   'DOM',
   'DZA',
   'ECU',
   'ETH',
   'FIN',
   'GEO',
   'GHA',
   'GTM',
   'GUY',
   'HRV',
   'HTI',
   'IRQ',
   'ISL',
   'ISR',
   'JAM',
   'KHM',
   'LTU',
   'MAR',
   'MCO',
   'MDA',
   'MKD',
   'MYS',
   'NGA',
   'NOR',
   'PER',
   'PRT',
   'PRY',
   'PSE',
   'QAT',
   'ROU',
   'SGP',
   'SOM',
   'SRB',
   'SVK',
   'SYR',
   'THA',
   'TUR',
   'TZA',
   'UGA',
   'UKR',
   'UZB',
   'VAT',
   'VEN',
   'WSM',
   'ZMB'],
  'z': [1,
   4,
   1,
   8,
   1,
   1,
   2,
   1,
   4,
   1,
   4,
   4,
   1,
   5,
   2,
   6,
   2,
   4,
   1,
   2,
   1,
   2,
   1,
   1,
   1,
   3,
   8,
   6,
   2,
   9,
   4,
   8,
   1,
   1,
   1,
   3,
   1,
   1,
   4,
   8,
   8,
   3,
   1,
   9,
   1,
   2,
   7,
   5,
   8,
   1,
   2,
   2,
   5,
   3,
   1,
   7,
   1,
   3,
   3,
   1,
   1],
  'colorscale': [[0, '#ffffcc'], [1, '#ffffcc']],
  'zmin': 0,
  'zmax': 10,
  'colorbar': {'x': 0.99,
   'y': 0.2,
   'len': 0.14666666666666667,
   'tick0': 0,
   'dtick': 10}},
 {'type': 'choropleth',
  'locationmode': 'ISO-3',
  'locations': ['AUS',
   'AUT',
   'BRA',
   'CHE',
   'COL',
   'CUB',
   'EGY',
   'ESP',
   'GRC',
   'HUN',
   'IND',
   'IRL',
   'ITA',
   'KEN',
   'MNG',
   'NLD',
   'PAK',
   'PHL',
   'POL',
   'SWE',
   'VNM'],
  'z': [39,
   19,
   21,
   26,
   14,
   22,
   52,
   41,
   84,
   19,
   59,
   49,
   71,
   16,
   10,
   14,
   15,
   20,
   29,
   10,
   23],
  'colorscale': [[0, '#C2F79E'], [1, '#C2F79E']],
  'zmin': 10,
  'zmax': 100,
  'colorbar': {'x': 0.99,
   'y': 0.3666666666666667,
   'len': 0.14666666666666667,
   'tick0': 10,
   'dtick': 90}},
 {'type': 'choropleth',
  'locationmode': 'ISO-3',
  'locations': ['CHN', 'FRA', 'JPN', 'MEX'],
  'z': [201, 144, 249, 114],
  'colorscale': [[0, '#78DE7B'], [1, '#78DE7B']],
  'zmin': 100,
  'zmax': 250,
  'colorbar': {'x': 0.99,
   'y': 0.5333333333333333,
   'len': 0.14666666666666667,
   'tick0': 100,
   'dtick': 150}},
 {'type': 'choropleth',
  'locationmode': 'ISO-3',
  'locations': ['CAN', 'DEU', 'RUS'],
  'z': [344, 488, 310],
  'colorscale': [[0, '#31a354'], [1, '#31a354']],
  'zmin': 250,
  'zmax': 1000,
  'colorbar': {'x': 0.99,
   'y': 0.7,
   'len': 0.14666666666666667,
   'tick0': 250,
   'dtick': 750}},
 {'type': 'choropleth',
  'locationmode': 'ISO-3',
  'locations': ['UMI', 'USA'],
  'z': [11283, 11283],
  'colorscale': [[0, '#003C20'], [1, '#003C20']],
  'zmin': 1000,
  'zmax': 12000,
  'colorbar': {'x': 0.99,
   'y': 0.8666666666666667,
   'len': 0.20666666666666667,
   'tick0': 1000,
   'dtick': 11000,
   'title': 'Number of Characters'}},
 {'type': 'choropleth',
  'locationmode': 'ISO-3',
  'locations': ['ARM',
   'BEL',
   'BOL',
   'CHE',
   'CHL',
   'COD',
   'COG',
   'COL',
   'CUB',
   'DMA',
   'DNK',
   'DOM',
   'ETH',
   'FIN',
   'GEO',
   'GHA',
   'GTM',
   'HTI',
   'HUN',
   'IDN',
   'IRN',
   'IRQ',
   'ISL',
   'JAM',
   'KEN',
   'KHM',
   'LBY',
   'MAR',
   'MNG',
   'MYS',
   'NGA',
   'NIC',
   'NLD',
   'PER',
   'PHL',
   'PSE',
   'SDN',
   'SWE',
   'SYR',
   'TUN',
   'TUR',
   'UGA',
   'UKR',
   'VEN',
   'YEM'],
  'z': [1,
   1,
   1,
   2,
   1,
   8,
   8,
   2,
   4,
   1,
   2,
   1,
   1,
   2,
   3,
   1,
   2,
   4,
   9,
   1,
   7,
   4,
   1,
   3,
   3,
   5,
   2,
   1,
   4,
   2,
   2,
   1,
   8,
   6,
   2,
   2,
   1,
   9,
   4,
   1,
   2,
   1,
   4,
   4,
   1],
  'colorscale': [[0, '#ffffcc'], [1, '#ffffcc']],
  'zmin': 0,
  'zmax': 10,
  'colorbar': {'x': 0.99,
   'y': 0.2,
   'len': 0.14666666666666667,
   'tick0': 0,
   'dtick': 10}},
 {'type': 'choropleth',
  'locationmode': 'ISO-3',
  'locations': ['ARG',
   'AUS',
   'AUT',
   'BRA',
   'CAN',
   'EGY',
   'ESP',
   'GRC',
   'IND',
   'IRL',
   'ISR',
   'ITA',
   'MEX',
   'NOR',
   'POL',
   'ROU',
   'VNM'],
  'z': [21, 48, 20, 30, 31, 72, 17, 76, 36, 30, 18, 36, 66, 16, 15, 13, 13],
  'colorscale': [[0, '#C2F79E'], [1, '#C2F79E']],
  'zmin': 10,
  'zmax': 100,
  'colorbar': {'x': 0.99,
   'y': 0.3666666666666667,
   'len': 0.14666666666666667,
   'tick0': 10,
   'dtick': 90}},
 {'type': 'choropleth',
  'locationmode': 'ISO-3',
  'locations': ['CHN', 'DEU', 'FRA', 'JPN', 'RUS'],
  'z': [129, 234, 124, 166, 152],
  'colorscale': [[0, '#78DE7B'], [1, '#78DE7B']],
  'zmin': 100,
  'zmax': 250,
  'colorbar': {'x': 0.99,
   'y': 0.5333333333333333,
   'len': 0.14666666666666667,
   'tick0': 100,
   'dtick': 150}},
 {'type': 'choropleth',
  'locationmode': 'ISO-3',
  'locations': [],
  'z': [],
  'colorscale': [[0, '#31a354'], [1, '#31a354']],
  'zmin': 250,
  'zmax': 1000,
  'colorbar': {'x': 0.99,
   'y': 0.7,
   'len': 0.14666666666666667,
   'tick0': 250,
   'dtick': 750}},
 {'type': 'choropleth',
  'locationmode': 'ISO-3',
  'locations': ['UMI', 'USA'],
  'z': [11109, 11109],
  'colorscale': [[0, '#003C20'], [1, '#003C20']],
  'zmin': 1000,
  'zmax': 12000,
  'colorbar': {'x': 0.99,
   'y': 0.8666666666666667,
   'len': 0.20666666666666667,
   'tick0': 1000,
   'dtick': 11000,
   'title': 'Number of Characters'}}]

**We tried different plot to see if we still manage to get some informations even with some unknown**

In [ ]:
nb_unknown = marvel_pers["Marital Status"].value_counts()['Unknown']
hist_marital = marvel_pers["Marital Status"].value_counts().drop('Unknown')

# Plot histogram
fig, axs = plt.subplots(1, 1, figsize=(14,8))
axs.bar(x = hist_marital.index, height = hist_marital);
axs.set_title('Marital Status')
axs.set_xlabel('Marital status')
axs.set_ylabel('Count')
axs.set_yscale('log')
for i, v in enumerate(hist_marital):
    axs.text(hist_marital.index[i], v*1.05, str(v), color='black', fontsize=12, horizontalalignment='center')

In [ ]:
import chart_studio.plotly as py
from IPython.display import HTML
import plotly.graph_objs as go
fig = go.Figure([go.Bar(x=df.index.to_list(), y=list(df['Marital Status']))])
fig.show()
import chart_studio
chart_studio.tools.set_credentials_file(username='schmider', api_key='OGpZh1yfEHe4hFbVMaPO')
url = py.plot(fig, filename='test.html', auto_open=False,)
print(url)
import chart_studio.tools as tls

tls.get_embed('https://plot.ly/~schmider/1/') #in '' put the printed url

In [ ]:
df = hist_marital.to_frame()

In [ ]:
type(df.index.to_list())

In [ ]:
type(list(df['Marital Status']))

In [ ]:
fig = go.Figure([go.Bar(x=df.index.to_list(), y=list(df['Marital Status']))])

In [ ]:
fig.show()

In [ ]:
import chart_studio
chart_studio.tools.set_credentials_file(username='schmider', api_key='OGpZh1yfEHe4hFbVMaPO')

In [ ]:
url = py.plot(fig, filename='test1.html', auto_open=False,config={'displayModeBar': False})
print(url)

In [ ]:
import chart_studio.tools as tls

tls.get_embed('https://plot.ly/~schmider/1/')

In [ ]:
# Plot the distribution of height

# Number of unknown and variable
nb_unknown = marvel_pers["Height"].value_counts()['Unknown']+marvel_pers["Height"].value_counts()['Variable']
# Filter the data to avoid outliers
height_hist = marvel_pers[(marvel_pers["Height in float"]!=np.nan)\
                         &(marvel_pers["Height in float"]<500)]['Height in float']

# Plot histogram
fig, axs = plt.subplots(1, 1, figsize=(14,8))
axs.hist(height_hist,bins=50);
axs.set_title('Distribution of the Height of the character')
axs.set_xlabel('Height [cm]')
axs.set_ylabel('Count')
plt.xticks(np.arange(0, max(height_hist)+10, 20.0));

In [ ]:
# Plot the distribution of Weight

# Number of unknown and variable
nb_unknown = marvel_pers["Weight"].value_counts()['Unknown']+marvel_pers["Weight"].value_counts()['Variable']
# Filter the data to avoid outliers
weight_hist = marvel_pers[(marvel_pers["Weight in float"]!=np.nan)\
                         &(marvel_pers["Weight in float"]<500)]['Weight in float']

# Plot histogram
fig, axs = plt.subplots(1, 1, figsize=(14,8))
axs.hist(weight_hist,bins=75);
axs.set_title('Distribution of the weight of the character')
axs.set_xlabel('Weight [kg]')
axs.set_ylabel('Count')
plt.xticks(np.arange(0, max(height_hist)+10, 20.0));

In [ ]:
Gender_df = pd.DataFrame(marvel_pers['Gender'].value_counts())\
              .reset_index()
Gender_df.columns = ['Gender', 'count']
Gender_df['count'] = Gender_df['count'].apply(lambda x: math.sqrt(x))\
                                       .round(2)
ax = Gender_df.plot.bar(x='Gender', y='count', rot=0, figsize=(8,8))
ax.set_xlabel('\nGender', fontsize=15)
ax.set_ylabel('sqrt(Count)\n', fontsize=15)
ax.set_title('Gender of the Marvel Characters\n', fontsize=15)
plt.grid(axis='y')

In [ ]:
dc_pers = pd.read_pickle("dc_pers_clean1.txt")

In [ ]:
nb_unknown = dc_pers["Marital Status"].value_counts()['Unknown']
hist_marital = dc_pers["Marital Status"].value_counts().drop('Unknown')

# Plot histogram
fig, axs = plt.subplots(1, 1, figsize=(14,8))
axs.bar(x = hist_marital.index, height = hist_marital);
axs.set_title('Marital Status')
axs.set_xlabel('Marital status')
axs.set_ylabel('Count')
axs.set_yscale('log')
for i, v in enumerate(hist_marital):
    axs.text(hist_marital.index[i], v*1.05, str(v), color='black', fontsize=12, horizontalalignment='center')

In [ ]:
# Plot the distribution of height

# Number of unknown and variable
nb_unknown = dc_pers["Height"].value_counts()['Unknown']
#filter the data to avoid outliers
height_hist = dc_pers[(dc_pers["Height in float"]!=np.nan)\
                         &(dc_pers["Height in float"]<500)]['Height in float']

# Plot histogram
fig, axs = plt.subplots(1, 1, figsize=(14,8))
axs.hist(height_hist,bins=50);
axs.set_title('Distribution of the Height of the character')
axs.set_xlabel('Height [cm]')
axs.set_ylabel('Count')
plt.xticks(np.arange(0, max(height_hist)+10, 20.0))

In [ ]:
# Plot the distribution of Weight

# Number of unknown and variable
nb_unknown = dc_pers["Weight"].value_counts()['Unknown']+dc_pers["Weight"].value_counts()['Variable ']
# Filter the data to avoid outliers
weight_hist = dc_pers[(dc_pers["Weight in float"]!=np.nan)\
                         &(dc_pers["Weight in float"]<500)]['Weight in float']

# Plot histogram
fig, axs = plt.subplots(1, 1, figsize=(14,8))
axs.hist(weight_hist,bins=75);
axs.set_title('Distribution of the weight of the character')
axs.set_xlabel('Weight [kg]')
axs.set_ylabel('Count')
plt.xticks(np.arange(0, max(height_hist)+10, 20.0));

In [ ]:
dc_pers['URL'] = dc_pers['URL'].str.split('//', expand=True)[2]
dc_pers.head(5)

In [ ]:
dc_comics = pd.read_pickle("comics_dc.txt")
dc_comics.reset_index()\
         .drop(columns=['index'])\
         .head()

In [ ]:
#Create a dataframe centered on the good characters
good = dc_comics[['Good characters', 'Publication date']]
good = good.reset_index(drop = True)
good.columns = ['Good_characters', 'Publication_date']
#Split the Good characters one by one with the explode function (requires Pandas version >= 0.25)
good = good.assign(Good_characters = good['Good_characters'].str.split(', /')).explode('Good_characters')
#Replace the empty Good_characters cells with Nan in order to drop them
good['Good_characters'].replace('', np.nan, inplace=True)
good.dropna(subset=['Good_characters'], inplace=True)
good = good.reset_index(drop = True)
good.head(5)

In [ ]:
#Create a dataframe centered on the bad characters
bad = dc_comics[['Bad characters', 'Publication date']]
bad = bad.reset_index(drop = True)
bad.columns = ['Bad_characters', 'Publication_date']
#Split the Bad characters one by one with the explode function (requires Pandas version >= 0.25)
bad = bad.assign(Bad_characters = bad['Bad_characters'].str.split(', /')).explode('Bad_characters')
#Replace the empty Bad_characters cells with Nan in order to drop them
bad['Bad_characters'].replace('', np.nan, inplace=True)
bad.dropna(subset=['Bad_characters'], inplace=True)
bad = bad.reset_index(drop = True)
bad.head(5)

In [ ]:
#Create a dataframe centered on the neutral characters
neutral = dc_comics[['Neutral characters', 'Publication date']]
neutral = neutral.reset_index(drop = True)
neutral.columns = ['Neutral_characters', 'Publication_date']
#Split the Neutral characters one by one with the explode function (requires Pandas version >= 0.25)
neutral = neutral.assign(Neutral_characters = neutral['Neutral_characters'].str.split(', /')).explode('Neutral_characters')
#Replace the empty Neutral_characters cells with Nan in order to drop them
neutral['Neutral_characters'].replace('', np.nan, inplace=True)
neutral.dropna(subset=['Neutral_characters'], inplace=True)
neutral = neutral.reset_index(drop = True)
neutral.head(5)

In [ ]:
#Create a list of the bad, good and neutral characters, and one on the DC characters
goodList = list(good['Good_characters'])
badList = list(bad['Bad_characters'])
neutralList = list(neutral['Neutral_characters'])
wiki_dc_pers_list = list(dc_pers['URL'])
#Find the shortest list for the search
list_name = ['goodList','wiki_dc_pers_list','badList','neutralList']
print('Shortest list is:',list_name[np.argmin([len(goodList), len(wiki_dc_pers_list), len(badList), len(neutralList)])])

In [ ]:
good_count = [] #List of how often a character is listed as "good"
bad_count  = [] #List of how often a character is listed as "bad"
neutral_count  = [] #List of how often a character is listed as "neutral"
publicationList = [[] for i in range(len(wiki_dc_pers_list))] #Create list of lists for publication dates
#Look for the characters that appear both in wiki_pers_dc_list and goodList
for i, pers in enumerate(wiki_dc_pers_list):
    #We first consider that every character is neither good, bad nor neutral
    good_count.append(0)
    bad_count.append(0)
    neutral_count.append(0)
    
    if pers in goodList:
        good_count[i] = goodList.count(pers)        #Count number of times the chacarter appears in goodList
        index = 0
        goodList_copy = goodList
        for j in range(good_count[i]):              #Find the index and update the publication dates list )
            index += goodList_copy.index(pers)
            if j>0:
                index += 1
            publicationList[i].append(good['Publication_date'][index])
            goodList_copy = goodList_copy[goodList_copy.index(pers)+1:]
    
    if pers in badList:
        bad_count[i] = badList.count(pers)         #Count number of times the chacarter appears in badList
        index = 0
        badList_copy = badList
        for j in range(bad_count[i]):              #Find the index and update the publication dates list 
            index += badList_copy.index(pers)
            if j>0:
                index += 1
            publicationList[i].append(bad['Publication_date'][index])
            badList_copy = badList_copy[badList_copy.index(pers)+1:]
    
    if pers in neutralList:
        neutral_count[i] =neutralList.count(pers)        #Count number of times the chacarter appears in neutralList
        index = 0
        neutralList_copy = neutralList
        for j in range(neutral_count[i]):                #Find the index and update the publication dates list 
            index += neutralList_copy.index(pers)
            if j>0:
                index += 1
            publicationList[i].append(neutral['Publication_date'][index])
            neutralList_copy = neutralList_copy[neutralList_copy.index(pers)+1:]

In [ ]:
zippedList =  list(zip(wiki_dc_pers_list, good_count, bad_count, neutral_count, publicationList))
df_pers_final = pd.DataFrame(zippedList, columns = ['URL' , 'Good_count', 'Bad_count', 'Neutral_count', 'Dates']) 
#Merge the df_pers_final dataframe with the dc_pers_df dataframe on the wiki_dc_pers column
dc_pers = dc_pers.merge(df_pers_final, on='URL')
dc_pers.head(10)

***The characters that have 0 in all three columns is because they appear in TV series and not in comics, and TV series have not been parsed. Moreover, these columns were already empty in the inital dc_comics dataframe***

In [ ]:
#This function allows us to find the years within a list of date strings
def find_years(string):
   # getting numbers from string  
    temp = re.findall(r'\d+', string) 
    res = list(map(int, temp))
    return res

In [ ]:
#Get values from three count columns and find the index of the maximum count per rows
count_array = dc_pers[['Good_count','Bad_count','Neutral_count']].values
dc_pers['Behavior'] = list(np.argmax(count_array, axis=1))
#Define a behavior map and create the Behavior 
behavior_map={0:'Good',1:'Bad',2:'Neutral'}
dc_pers['Behavior'] = dc_pers['Behavior'].map(behavior_map)

#Get the number of apparition of the character based on the number of publications related to this character
dc_pers['Number_of_apparitions'] = dc_pers['Dates'].apply(lambda x: len(x))

#
dc_pers['DatesString'] = dc_pers['Dates'].apply(lambda x: ','.join(map(str, x)))
dc_pers['years'] = dc_pers['DatesString'].apply(lambda x: find_years(x))
dc_pers['First_apparition'] = dc_pers['years'].apply(lambda x: min(x) if len(x)!=0 else None)
dc_pers.head()

dc_pers.head(10)

In [ ]:
pickle.dump(dc_pers, open('dc_pers_final.txt','wb'))

***We are going to repeat the same procedure with the Marvel dataset***

In [24]:
marvel_pers.head(5)

,URL,Real Name,Identity,Current Alias,Citizenship,Marital Status,Occupation,Education,Gender,Height,Weight,Eyes,Hair,Place of Birth,Height in string,Height in float,Weight in string,Weight in float
0,/wiki/Aaron_the_Aakon_(Earth-616),Aaron,Secret Identity,Unknown,Aakon,Single,Slave trader,Unknown,Male,Unknown,Unknown,Brown,Black,Planet Oorga,Unknown,NaN,Unknown,NaN
1,/wiki/2-D_(Earth-616),Darell (full name unrevealed),Secret Identity,2-D,American,Single,Adventurer,Unknown,Male,Unknown,Unknown,Brown,Brown,Unknown,Unknown,NaN,Unknown,NaN
2,/wiki/Abraham_Erskine_(Earth-616),Abraham Erskine,Known to Authorities Identity,Dr. Joseph Reinstein,"German, American",Married,Scientist,Advanced College Degree,Male,"5' 6"" (1.68 m)",160 lbs (73 kg),Brown,Black,Germany,168.0,168.0,72.0,72.0
3,/wiki/11-Ball_(Earth-616),Unknown,Secret Identity,11-Ball,American,Single,Professional criminal; former henchman,Unknown,Male,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,Unknown,NaN
4,/wiki/Abraham_(Earth-616),Abraham,No Dual Identity,Unknown,Unknown,Married,Prophet,Unknown,Male,Unknown,Unknown,Unknown,Black,Unknown,Unknown,NaN,Unknown,NaN

In [25]:
marvel_comics = pd.read_pickle("comics_marvel.txt")
marvel_comics.reset_index()\
         .drop(columns=['index'])\
         .head(5)

,URL,Good characters,Bad characters,Neutral characters,Editor-in-chief,Editor-in-chief URL,Writer,Writer URL,Publication date,Subcomic
0,/wiki/Marvel_Mystery_Comics_Vol_1_NN,,,,,,", Joe Caramagna",", /wiki/Joe_Caramagna","January, 1943",st stor
1,/wiki/Comedy_Comics_Vol_1_12,,,,", Stan Lee",", /wiki/Stan_Lee",,,"December, 1942",Morphy
2,/wiki/Marvel_Mystery_Comics_Vol_1_7,", /wiki/Human_Torch_(Android)_(Earth-616), /wi...",", /wiki/Roglo_(Earth-616), #cite_note-Only_App...",", /wiki/New_York_City_Police_Department_(Earth...",", Joe Simon",", /wiki/Joe_Simon",", Stan Lee, Larry Lieber",", /wiki/Stan_Lee, /wiki/Larry_Lieber","May, 1940",The Human Torch
3,/wiki/Marvel_Mystery_Comics_Vol_1_7,", /wiki/Thomas_Halloway_(Earth-616), /wiki/Bet...",", /wiki/Emma_Martin_(Earth-616)",", /wiki/Henry_Martin_(Earth-616)",", Joe Simon",", /wiki/Joe_Simon",", Paul Gustavson, Ray Gill",", /wiki/Paul_Gustavson, /wiki/Ray_Gill","May, 1940",The Angel: Master of Men
4,/wiki/Marvel_Mystery_Comics_Vol_1_7,", /wiki/Namor_McKenzie_(Earth-616), /wiki/Thak...",,", /wiki/Homo_mermanus, /wiki/New_York_City_Pol...",", Joe Simon",", /wiki/Joe_Simon",", William Blake Everett",", /wiki/William_Blake_Everett","May, 1940","Prince Namor, the Sub-Mariner"

In [26]:
#Create a dataframe centered on the good characters
good = marvel_comics[['Good characters', 'Publication date']]
good = good.reset_index(drop = True)
good.columns = ['Good_characters', 'Publication_date']
#Split the Good characters one by one with the explode function (requires Pandas version >= 0.25)
good = good.assign(Good_characters = good['Good_characters'].str.split(', ')).explode('Good_characters')
#Replace the empty Good_characters cells with Nan in order to drop them
good['Good_characters'].replace('', np.nan, inplace=True)
good.dropna(subset=['Good_characters'], inplace=True)
good = good.reset_index(drop = True)
good.head(5)

                                     Good_characters Publication_date
0            /wiki/Human_Torch_(Android)_(Earth-616)        May, 1940
1  /wiki/New_York_City_Police_Department_(Earth-616)        May, 1940
2                     /wiki/Pete_Johnson_(Earth-616)        May, 1940
3                  /wiki/Thomas_Halloway_(Earth-616)        May, 1940
4                     /wiki/Betty_Martin_(Earth-616)        May, 1940

In [27]:
#Create a dataframe centered on the bad characters
bad = marvel_comics[['Bad characters', 'Publication date']]
bad = bad.reset_index(drop = True)
bad.columns = ['Bad_characters', 'Publication_date']
#Split the Bad characters one by one with the explode function (requires Pandas version >= 0.25)
bad = bad.assign(Bad_characters = bad['Bad_characters'].str.split(', ')).explode('Bad_characters')
#Replace the empty Bad_characters cells with Nan in order to drop them
bad['Bad_characters'].replace('', np.nan, inplace=True)
bad.dropna(subset=['Bad_characters'], inplace=True)
bad = bad.reset_index(drop = True)
bad.head(5)

                  Bad_characters Publication_date
0        /wiki/Roglo_(Earth-616)        May, 1940
1   #cite_note-Only_Appearance-0        May, 1940
2  /wiki/Emma_Martin_(Earth-616)        May, 1940
3   /wiki/Boss_Sapro_(Earth-616)        May, 1940
4  /wiki/Edward_Hurt_(Earth-616)        May, 1940

In [28]:
#Create a dataframe centered on the neutral characters
neutral = marvel_comics[['Neutral characters', 'Publication date']]
neutral = neutral.reset_index(drop = True)
neutral.columns = ['Neutral_characters', 'Publication_date']
#Split the Neutral characters one by one with the explode function (requires Pandas version >= 0.25)
neutral = neutral.assign(Neutral_characters = neutral['Neutral_characters'].str.split(', ')).explode('Neutral_characters')
#Replace the empty Neutral_characters cells with Nan in order to drop them
neutral['Neutral_characters'].replace('', np.nan, inplace=True)
neutral.dropna(subset=['Neutral_characters'], inplace=True)
neutral = neutral.reset_index(drop = True)
neutral.head(5)

                                  Neutral_characters Publication_date
0  /wiki/New_York_City_Police_Department_(Earth-616)        May, 1940
1                     /wiki/Henry_Martin_(Earth-616)        May, 1940
2                                /wiki/Homo_mermanus        May, 1940
3  /wiki/New_York_City_Police_Department_(Earth-616)        May, 1940
4              /wiki/Fiorello_La_Guardia_(Earth-616)        May, 1940

In [29]:
#Create a list of the bad, good and neutral characters, and one on the DC characters
goodList = list(good['Good_characters'])
badList = list(bad['Bad_characters'])
neutralList = list(neutral['Neutral_characters'])
wiki_marvel_pers_list = list(marvel_pers['URL'])
#Find the shortest list for the search
list_name = ['goodList','wiki_marvel_pers_list','badList','neutralList']
print('Shortest list is:',list_name[np.argmin([len(goodList), len(wiki_marvel_pers_list), len(badList), len(neutralList)])])

Shortest list is: wiki_marvel_pers_list

In [30]:
good_count = [] #List of how often a character is listed as "good"
bad_count  = [] #List of how often a character is listed as "bad"
neutral_count  = [] #List of how often a character is listed as "neutral"
publicationList = [[] for i in range(len(wiki_marvel_pers_list))] #Create list of lists for publication dates
#Look for the characters that appear both in wiki_pers_dc_list and goodList
for i, pers in enumerate(wiki_marvel_pers_list):
    #We first consider that every character is neither good, bad nor neutral
    good_count.append(0)
    bad_count.append(0)
    neutral_count.append(0)
    
    if pers in goodList:
        good_count[i] = goodList.count(pers)        #Count number of times the chacarter appears in goodList
        index = 0
        goodList_copy = goodList
        for j in range(good_count[i]):              #Find the index and update the publication dates list )
            index += goodList_copy.index(pers)
            if j>0:
                index += 1
            publicationList[i].append(good['Publication_date'][index])
            goodList_copy = goodList_copy[goodList_copy.index(pers)+1:]
    
    if pers in badList:
        bad_count[i] = badList.count(pers)         #Count number of times the chacarter appears in badList
        index = 0
        badList_copy = badList
        for j in range(bad_count[i]):              #Find the index and update the publication dates list 
            index += badList_copy.index(pers)
            if j>0:
                index += 1
            publicationList[i].append(bad['Publication_date'][index])
            badList_copy = badList_copy[badList_copy.index(pers)+1:]
    
    if pers in neutralList:
        neutral_count[i] =neutralList.count(pers)        #Count number of times the chacarter appears in neutralList
        index = 0
        neutralList_copy = neutralList
        for j in range(neutral_count[i]):                #Find the index and update the publication dates list 
            index += neutralList_copy.index(pers)
            if j>0:
                index += 1
            publicationList[i].append(neutral['Publication_date'][index])
            neutralList_copy = neutralList_copy[neutralList_copy.index(pers)+1:]

In [31]:
zippedList =  list(zip(wiki_marvel_pers_list, good_count, bad_count, neutral_count, publicationList))
marvel_pers_final = pd.DataFrame(zippedList, columns = ['URL' , 'Good_count', 'Bad_count', 'Neutral_count', 'Dates']) 
#Merge the marvel_pers_final dataframe with the marvel_pers_df dataframe on the URL column
marvel_pers = marvel_pers.merge(marvel_pers_final, on='URL')
marvel_pers.head(10)

,URL,Real Name,Identity,Current Alias,Citizenship,Marital Status,Occupation,Education,Gender,Height,...,Hair,Place of Birth,Height in string,Height in float,Weight in string,Weight in float,Good_count,Bad_count,Neutral_count,Dates
0,/wiki/Aaron_the_Aakon_(Earth-616),Aaron,Secret Identity,Unknown,Aakon,Single,Slave trader,Unknown,Male,Unknown,...,Black,Planet Oorga,Unknown,NaN,Unknown,NaN,0,0,0,[]
1,/wiki/2-D_(Earth-616),Darell (full name unrevealed),Secret Identity,2-D,American,Single,Adventurer,Unknown,Male,Unknown,...,Brown,Unknown,Unknown,NaN,Unknown,NaN,4,0,0,"[January, 2008, July, 2011, September, 2011, J..."
2,/wiki/Abraham_Erskine_(Earth-616),Abraham Erskine,Known to Authorities Identity,Dr. Joseph Reinstein,"German, American",Married,Scientist,Advanced College Degree,Male,"5' 6"" (1.68 m)",...,Black,Germany,168.0,168.0,72.0,72.0,40,1,50,"[March, 1941, November, 1946, March, 1965, Jan..."
3,/wiki/11-Ball_(Earth-616),Unknown,Secret Identity,11-Ball,American,Single,Professional criminal; former henchman,Unknown,Male,Unknown,...,Unknown,Unknown,Unknown,NaN,Unknown,NaN,0,1,0,"[July, 1991]"
4,/wiki/Abraham_(Earth-616),Abraham,No Dual Identity,Unknown,Unknown,Married,Prophet,Unknown,Male,Unknown,...,Black,Unknown,Unknown,NaN,Unknown,NaN,1,0,6,"[December, 1953, February, 1954, December, 195..."
5,/wiki/Abarac_(Earth-616),Abarac,No Dual Identity,Unknown,Cybernian,Single,"Court magician, advisor",Unknown,Male,Unknown,...,White,Unknown,Unknown,NaN,Unknown,NaN,1,0,0,"[November, 1970]"
6,/wiki/Abdul_Faoul_(Earth-616),Professor Abdul Faoul,Secret Identity,Scarlet Scarab,Egyptian,Single,"Archeologist, adventurer",Unknown,Male,Unknown,...,Black,Egypt,Unknown,NaN,Unknown,NaN,0,4,3,"[December, 1977, February, 1978, June, 2014, J..."
7,/wiki/A.C._O%27Connor_(Earth-616),A. C. O'Connor,No Dual Identity,Ace O'Connor,American,Single,Journalist,Unknown,Female,Unknown,...,Blond,Unknown,Unknown,NaN,Unknown,NaN,0,0,5,"[September, 1980, October, 1980, December, 198..."
8,/wiki/7-X9_(Earth-616),Unknown,No Dual Identity,7-X9,Unknown,Unknown,Unknown,Unknown,Male,Unknown,...,Unknown,Unknown,Unknown,NaN,Unknown,NaN,0,1,0,"[March, 2016]"
9,/wiki/803_(Earth-616),803,No Dual Identity,Unknown,Unknown,Single,Unknown,Unknown,Agender,Unknown,...,Unknown,Unknown,Unknown,NaN,Unknown,NaN,14,0,1,"[February, 2016, January, 2016, March, 2016, A..."

In [34]:
#Get values from three count columns and find the index of the maximum count per rows
count_array = marvel_pers[['Good_count','Bad_count','Neutral_count']].values
marvel_pers['Behavior'] = list(np.argmax(count_array, axis=1))
#Define a behavior map and create the Behavior 
behavior_map={0:'Good',1:'Bad',2:'Neutral'}
marvel_pers['Behavior'] = marvel_pers['Behavior'].map(behavior_map)

#Get the number of apparition of the character based on the number of publications related to this character
marvel_pers['Number_of_apparitions'] = marvel_pers['Dates'].apply(lambda x: len(x))

#
marvel_pers['DatesString'] = marvel_pers['Dates'].apply(lambda x: ','.join(map(str, x)))
marvel_pers['years'] = marvel_pers['DatesString'].apply(lambda x: find_years(x))
marvel_pers['First_apparition'] = marvel_pers['years'].apply(lambda x: min(x) if len(x)!=0 else None)
marvel_pers.head()

marvel_pers.head(10)

,URL,Real Name,Identity,Current Alias,Citizenship,Marital Status,Occupation,Education,Gender,Height,...,Weight in float,Good_count,Bad_count,Neutral_count,Dates,Behavior,Number_of_apparitions,DatesString,years,First_apparition
0,/wiki/Aaron_the_Aakon_(Earth-616),Aaron,Secret Identity,Unknown,Aakon,Single,Slave trader,Unknown,Male,Unknown,...,NaN,0,0,0,[],Good,0,,[],NaN
1,/wiki/2-D_(Earth-616),Darell (full name unrevealed),Secret Identity,2-D,American,Single,Adventurer,Unknown,Male,Unknown,...,NaN,4,0,0,"[January, 2008, July, 2011, September, 2011, J...",Good,4,"January, 2008,July, 2011,September, 2011,Janua...","[2008, 2011, 2011, 2019]",2008.0
2,/wiki/Abraham_Erskine_(Earth-616),Abraham Erskine,Known to Authorities Identity,Dr. Joseph Reinstein,"German, American",Married,Scientist,Advanced College Degree,Male,"5' 6"" (1.68 m)",...,72.0,40,1,50,"[March, 1941, November, 1946, March, 1965, Jan...",Neutral,91,"March, 1941,November, 1946,March, 1965,January...","[1941, 1946, 1965, 1969, 1971, 1975, 1976, 197...",1941.0
3,/wiki/11-Ball_(Earth-616),Unknown,Secret Identity,11-Ball,American,Single,Professional criminal; former henchman,Unknown,Male,Unknown,...,NaN,0,1,0,"[July, 1991]",Bad,1,"July, 1991",[1991],1991.0
4,/wiki/Abraham_(Earth-616),Abraham,No Dual Identity,Unknown,Unknown,Married,Prophet,Unknown,Male,Unknown,...,NaN,1,0,6,"[December, 1953, February, 1954, December, 195...",Neutral,7,"December, 1953,February, 1954,December, 1953,N...","[1953, 1954, 1953, 1988, 2011, 2017, 2020]",1953.0
5,/wiki/Abarac_(Earth-616),Abarac,No Dual Identity,Unknown,Cybernian,Single,"Court magician, advisor",Unknown,Male,Unknown,...,NaN,1,0,0,"[November, 1970]",Good,1,"November, 1970",[1970],1970.0
6,/wiki/Abdul_Faoul_(Earth-616),Professor Abdul Faoul,Secret Identity,Scarlet Scarab,Egyptian,Single,"Archeologist, adventurer",Unknown,Male,Unknown,...,NaN,0,4,3,"[December, 1977, February, 1978, June, 2014, J...",Bad,7,"December, 1977,February, 1978,June, 2014,July,...","[1977, 1978, 2014, 2014, 1981, 1982, 2013]",1977.0
7,/wiki/A.C._O%27Connor_(Earth-616),A. C. O'Connor,No Dual Identity,Ace O'Connor,American,Single,Journalist,Unknown,Female,Unknown,...,NaN,0,0,5,"[September, 1980, October, 1980, December, 198...",Neutral,5,"September, 1980,October, 1980,December, 1980,F...","[1980, 1980, 1980, 1981, 1981]",1980.0
8,/wiki/7-X9_(Earth-616),Unknown,No Dual Identity,7-X9,Unknown,Unknown,Unknown,Unknown,Male,Unknown,...,NaN,0,1,0,"[March, 2016]",Bad,1,"March, 2016",[2016],2016.0
9,/wiki/803_(Earth-616),803,No Dual Identity,Unknown,Unknown,Single,Unknown,Unknown,Agender,Unknown,...,NaN,14,0,1,"[February, 2016, January, 2016, March, 2016, A...",Good,15,"February, 2016,January, 2016,March, 2016,April...","[2016, 2016, 2016, 2016, 2016, 2016, 2016, 201...",2016.0

In [ ]:
pickle.dump(marvel_pers, open('marvel_pers_final.txt','wb'))

**Let's sum up what we have achieved until now. We started with 4 very large datasets of the comics and characters of the Marvel and DC universes, where we selected what we needed in each one. We then cleaned the data as much as possible to make it ready to use and analyse.**

**Now the next step is to make use of this data. Indeed, we chose to select some specific characteristics that will help us to get sense of the data. Now the question is how to do it.**

**One first basic thing is to see the distribution of a specific characteristic. Maybe Marvel choose to design tall and skinny characters. Or maybe DC heroes tend to have light color eyes. All these distributions have to be analysed and especially we have to put them in parallel with the alignment of the character, i.e. if he is good or bad. Indeed, we can maybe discover some relationships between a physical portrait of a character and his alignment. We can firstly imagine that most of the heroes will come from the United States (which is of course expected for the two biggest American comics publishers), and will thus have a typical American physical portrait (light skin color for example). On the other hand, villains can be expected to come from different countries and it will be interesting to see what these countries are. We can plot a map of the world with the distribution of the heroes and another one with the distribution of the villains, which we think has a great visual impact and can quickly tell a lot about this data. Moreover some other characteristics aren't physical, like the education, and this can be very important for our analysis. Indeed, let's suppose all the heroes tend to have a very high education profile. We can wonder what impact it could have on people who couldn't get this level education and that try to associate themselves to these heroes. Will it encourage them to reach this high level of education? Or will it on the contrary make them think that it is impossible for them and make them feel bad about themselves? These are part of many of the questions we can wonder about. But of course we will have to carefully analyse the data and choose the right parameters. Let's note that another important characteristic is the gender distribution, and not only for the characters but also for the editors and writers of the comics. We can after that try to see the typical portraits of heroes and villains for both Marvel and DC.**

**However, all this analysis wouldn't be that interesting if we don't include time in our parameters. Indeed, seeing the evolution of a characteristic over time can tell a lot about what the comics writers want to convey through their characters. The typical portraits are probably continuously evolving over time. Maybe the hypothesis we did for example for the most common level of education or the most represented skin color are biased because we didn't include time in our analysis. We can for example discover that the tendencies of citizenship is leaning toward more different countries than the United States. Another example is the more diverse genders: maybe now that we speak more openly in the society about other genders than 'male' or 'female', we could see a greater diversity over time in the characters.**

**Finally, another important thing to do is to compare the Marvel and DC respective analysis. Indeed, we can not limit ourselves to only one of them. Maybe they have completely different ways of designing characters, and thus that the typical portraits for heroes and antiheroes are also completely different. It could also be the contrary since both of them can have the same influences (American culture). It would be our role to discover all of this**

In [ ]:
#